@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import 'functions';

// Colors

$primary: #03755e;
$light: $white;

$text-color-1: #222222;
$text-color-2: $primary;

$theme-colors: (
  'primary': $primary,
);

// Body

$body-bg: $white;
$body-color: $text-color-1;

// // Typography

$font-family-1: 'Open Sans', serif;
$font-family-2: 'Cardo', sans-serif;

$font-family-base: $font-family-1;

$font-size-l: rem(30);
$font-size-base: rem(16);
$font-size-s: rem(13);
$font-size-xs: rem(12);

// $mark-padding: 0 0.2rem;
// $mark-bg: #fac080;

// // Grid containers

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1040px,
// );

// Buttons

$btn-padding-x: rem(20);

$btn-border-radius: rem(22);
$btn-box-shadow: 0 rem(2) rem(3) 0 rgba($black, 0.15);
$btn-font-weight: $font-weight-bold;

// Options

$enable-shadows: true;
$enable-responsive-font-sizes: true;
