@import 'css/settings';

.c-tool-data-layer-list {
  h2 {
    margin: 0 0 map-get($spacers, 3);
    font-family: $font-family-1;
    text-transform: uppercase;
    @include font-size($font-size-base);
    font-weight: $font-weight-bold;
  }

  .group + .group {
    margin-top: map-get($spacers, 4);
  }
}
