@import 'css/settings';

.c-tool-data-layer-list {
  h2 {
    margin: 0 0 map-get($spacers, 3);
    font-family: $font-family-1;
    text-transform: uppercase;
    @include font-size($font-size-base);
    font-weight: $font-weight-bold;
  }

  .params {
    margin: map-get($spacers, 3) 0;
    padding: 0 0 map-get($spacers, 3) $custom-control-gutter + $custom-control-indicator-size;
    border-bottom: rem(1) solid $border-color-1;

    .c-data-layer-list-param {
      & + .c-data-layer-list-param {
        margin-top: map-get($spacers, 3);
      }
    }
  }

  .group + .group {
    margin-top: map-get($spacers, 4);
  }
}
