@import 'css/settings';

.c-export-tooltip {
  max-width: rem(340);

  legend {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  .grid-buttons {
    display: flex;
    justify-content: space-between;

    input {
      @include sr-only();

      &:disabled + label .c-icon {
        opacity: 0.4;
        cursor: not-allowed;
      }

      &:checked + label {
        .c-icon use {
          stroke: $primary;
          fill: $primary;
        }
      }
    }

    label {
      .c-icon {
        width: rem(45);
        height: rem(35);
        cursor: pointer;

        use {
          stroke: $border-color-1;
          fill: transparent;
        }
      }
    }
  }

  .c-checkbox {
    label {
      display: block;
      @include font-size($font-size-xs);
      line-height: $line-height-base * $font-size-base;
      font-weight: $font-weight-bold;
      color: $text-color-3;
      text-transform: uppercase;
    }

    & + .note {
      padding: 0 0 0 $custom-control-gutter + $custom-control-indicator-size;
    }
  }

  .note {
    @include font-size($font-size-s);
  }
}
