@import 'css/settings';

.c-tool-sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: rem(350);
  max-height: 100%;
  // margin-right: map-get($spacers, 5);
  padding: 3rem 0 3rem 3rem;

  h1 {
    font-weight: 300;
    font-family: $font-family-1;
    font-size: 44px;
  }

  h2, .h2 {
    font-weight: $font-weight-normal;
  }

  &__description {
    font-size: 16px;
    margin: 0;
  }

  .c-accordion {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;

    .title .button .h1 {
      font-weight: 400;
    }

    .item {
      margin: map-get($spacers, 2) 0;
      overflow: hidden;
      flex-shrink: 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.-expanded {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;

        & > .panel {
          padding: map-get($spacers, 2) 0;
          overflow: auto;
        }
      }
    }
  }
  .buttons {
    display: flex;
    gap: 12px;
    .btn {
      flex: 1;
      padding-block: 11px;
      font-weight: 600;
    }
  }
}
