@import 'css/settings';

.c-tool-visualization {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;

  &.mode-2-vertical {
    .map-container {
      justify-content: space-between;

      .map {
        flex-basis: calc(50% - #{rem(5)});

        & + .map {
          margin-left: rem(10);

          .scale-control {
            left: auto;
            right: map-get($spacers, 1);
          }
        }
      }
    }

    .c-map-legend {
      // We remove the 1px difference so the legend hides the border (see .c-map-legend below)
      bottom: rem(26);
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }
  }

  &.mode-2-horizontal {
    .map-container {
      flex-direction: column;
      justify-content: space-between;

      .map {
        flex-basis: calc(50% - #{rem(5)});

        & + .map {
          margin-top: rem(10);
        }
      }
    }

    .c-map-legend {
      // We remove the 1px difference so the legend hides the border (see .c-map-legend below)
      right: 0;
      top: 50%;
      bottom: auto;
      transform: translateY(calc(-50% - #{rem(26) / 2}));
    }
  }

  &.mode-4 {
    .map-container {
      flex-wrap: wrap;
      justify-content: space-between;

      .map {
        flex-basis: calc(50% - #{rem(5)});
        height: calc(50% - #{rem(5)});

        &:nth-of-type(3),
        &:nth-of-type(4) {
          margin-top: rem(10);
        }

        &:nth-of-type(2n + 1) + .map {
          margin-left: rem(10);

          .scale-control {
            left: auto;
            right: map-get($spacers, 1);
          }
        }
      }
    }

    .c-map-legend {
      // We remove the 1px difference so the legend hides the border (see .c-map-legend below)
      bottom: rem(26);
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }
  }

  &.exporting {
    .container-ratio {
      border: none;
    }
  }

  .exporting-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    z-index: 4;
  }

  .container-width {
    // FIXME: next line assumes how the visualisation's layout outside of its parent
    width: unquote('min(100%, calc((100vh - #{2* map-get($spacers, 5)}) * 1 / 0.6666))');
  }

  .container-ratio {
    position: relative;
    width: 100%;
    padding-top: 66.66%;
    overflow: hidden;
  }

  .map-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - #{rem(26)}); // The attributions are 26px high
    background-color: $white;

    .map {
      position: relative;
      width: 100%;
      height: 100%;
      border: rem(1) solid rgba($black, 0.1);

      .title {
        position: absolute;
        top: 0;
        left: 0;
        padding: map-get($spacers, 1) map-get($spacers, 2);
        background: $white;
        z-index: 3;
      }

      .scale-control {
        position: absolute;
        left: map-get($spacers, 1);
        bottom: map-get($spacers, 1);

        > div {
          @include font-size($font-size-xxs);
        }
      }

      .c-inset-map {
        position: absolute;
        top: -#{rem(1)};
        right: -#{rem(1)};
        z-index: 3;
      }
    }
  }

  .c-map-legend {
    // The 1px difference in both the right and bottom properties are necessary if we don't want the
    // legend to hide part of the border of the map
    right: rem(1);
    bottom: rem(27);
  }

  .c-tool-attributions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(26);
    background-color: $white;
  }
}
